
body {
	display: grid;
	grid-template-rows: 1fr max-content 2.5fr;
	align-items: center;
	justify-items: center;
	width: 100%;
	height: 100%;
	font-size: 150%;
}

#links div {
	padding: 10px;
}

.link {
	font-size: 130%;
}

.link a {
	text-decoration: none;
}

.link a:hover {
	text-decoration: underline;
	color: #4Ca1F6;
}

.link a, .link a:visited {
	color: #2C81d6;
}
